
@{
    ViewBag.Title = "Saat Ayarı";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model SefimV2.Models.Saat
<link href="/Assets/css/bootstrap.css" rel="stylesheet" />
<link href="/Assets/css/custom.css" rel="stylesheet" />
<link href="/Assets/plugins/fUpload/Uploader-style.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">Saat Ayarları</h3>
                </div>
                <div class="panel-body">
                    @*<section class="login_content">*@
                        @using (Html.BeginForm())
                        {
                            @*<div class="col-md-12">
                                    @Html.TextBoxFor(m => m.StartTime, new { placeholder = "", @class = "form-control", @id = "startTimeTxt" })
                                </div>
                                <div class="clearfix" style="padding-top:40px"></div>

                                <div class="col-md-12">

                                    @Html.TextBoxFor(m => m.EndTime, new { placeholder = "", @class = "form-control", @id = "endTimeTxt" })

                                </div>*@


                            <div class="m-portlet__body" style="margin-bottom:30px">
                                <div class="form-group m-form__group row">

                                    <label class="col-form-label col-lg-4 col-sm-12"> Başlama Saati  </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        @Html.TextBoxFor(m => m.StartTime, new { @id = "BitisTarihi", @maxlength = "255", @class = "form-control m_datetimepicker", @placeholder = "Bitiş Tarihi", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-4 col-sm-12"> Başlama Saati Giriniz <span class="required"> * </span></label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="time" id="baslamaSaat" name="appt" min="9:00" max="18:00" required>
                                    </div>
                                </div>
                            </div>

                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">

                                    <label class="col-form-label col-lg-4 col-sm-12"> Bitiş Saati </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        @Html.TextBoxFor(m => m.EndTime, new { @id = "BitisTarihi", @maxlength = "255", @class = "form-control m_datetimepicker", @placeholder = "Bitiş Tarihi", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-4 col-sm-12"> Bitiş Saati Giriniz <span class="required"> * </span> </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="time" id="bitisSaat" min="9:00" max="18:00" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 text-center" style="padding-top:30px">
                                <button id="btnSave" type="button" class="btn btn-success" data-id="0">Kaydet</button>
                            </div>
                            <div class="clearfix"></div>
                        }
                    @*</section>*@

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Assets/js/jquery.js"></script>
<script src="/Assets/js/bootstrap.js"></script>
<script>
    $('#btnSave').click(function () {
        var saat = {};
        saat.StartTime = $("#baslamaSaat").val();
        saat.EndTime = $("#bitisSaat").val();
        $.ajax({
            url: '/SaatAyarlari/Save',
            contentType: "application/json",
            async: true,
            type: "POST",
            data: JSON.stringify(saat),
            error: function () { },
            success: function (data) {
                alert(data.result_STR);
                setInterval(function () { window.location.reload(); }, 2000);
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('.tarihLink').each(function () {
            $(this).on('click', function (ev) {
                ev.preventDefault();
                if (localStorage.durum == null) {
                    localStorage.durum = "bugun";
                }
                document.getElementById("loading").setAttribute("class", "myloading-active");
                document.getElementById("contbody").setAttribute("style", "position:fixed;");
                location.href = $(this).attr('href') + '?durum=' + localStorage.durum + '&tarihBas=' + localStorage.tarihBaslangic + '&tarihBitis=' + localStorage.tarihBitis;
            })
        });

        if (localStorage.durum == "bugun") {
            $(".btnToday").removeClass("LimitButtonBack");
            $(this).addClass("LimitButtonBack");
            $("#btnToday").addClass("LimitButtonBack");
        } else if (localStorage.durum == "dun") {
            $(".btnYesterday").removeClass("LimitButtonBack");
            $(this).addClass("LimitButtonBack");
            $("#btnYesterday").addClass("LimitButtonBack");
        } else if (localStorage.durum == "buAy") {
            $(".btnMonth").removeClass("LimitButtonBack");
            $(this).addClass("LimitButtonBack");
            $("#btnMonth").addClass("LimitButtonBack");
        } else if (localStorage.durum = "tarihAraligi") {
            $(".btnRange").removeClass("LimitButtonBack");
            $(this).addClass("LimitButtonBack");
            $("#btnRange").addClass("LimitButtonBack");
        }
    });

    $('.btnToday').click(function () {
        localStorage.durum = "bugun";
        location.href = 'List?durum=' + localStorage.durum + '&tarihBas=' + localStorage.tarihBaslangic + '&tarihBitis=' + localStorage.tarihBitis;
        document.getElementById("loading").setAttribute("class", "myloading-active");
        document.getElementById("contbody").setAttribute("style", "position:fixed;");
    });
    $('.btnYesterday').click(function () {
        localStorage.durum = "dun";
        location.href = 'List?durum=' + localStorage.durum + '&tarihBas=' + localStorage.tarihBaslangic + '&tarihBitis=' + localStorage.tarihBitis;
        document.getElementById("loading").setAttribute("class", "myloading-active");
        document.getElementById("contbody").setAttribute("style", "position:fixed;");
    });
    $('.btnMonth').click(function () {
        localStorage.durum = "buAy";
        location.href = 'List?durum=' + localStorage.durum + '&tarihBas=' + localStorage.tarihBaslangic + '&tarihBitis=' + localStorage.tarihBitis;
        document.getElementById("loading").setAttribute("class", "myloading-active");
        document.getElementById("contbody").setAttribute("style", "position:fixed;");
    });

    $('.btnSave').click(function () {
        var tarihBaslangic = $("#dateGecerlilikTarihi").val() + ' ' + $("#basSaat").val();
        var tarihBitis = $("#dateBitisTarihi").val() + ' ' + $("#bitisSaat").val();
        localStorage.durum = "tarihAraligi";
        localStorage.tarihBaslangic = tarihBaslangic;
        localStorage.tarihBitis = tarihBitis;
        location.href = 'List?durum=' + localStorage.durum + '&tarihBas=' + localStorage.tarihBaslangic + '&tarihBitis=' + localStorage.tarihBitis;
    });


</script>