################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/69c0ef4c-a07f-4729-98c6-4351ba0f3824.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/52a4746b-c773-4d9b-928d-c4032b6cbaf8.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/a1885506-f853-4f69-bd20-11dcc054fadc.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/b3a83d5f-2774-4acf-975c-1edbd64805e6.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/b4534446-002e-4596-a005-e2b7125a3749.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/ca1649d1-35c1-4bd4-bde7-25e3564c78a1.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/f80265d4-3226-4067-a71f-faaf02f04e86.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/v17/.suo
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/28946d65-326d-48c3-9e90-504a884f3ef9.vsidx
/Vega.SefimWebReportsV2/SefimV2/Properties/PublishProfiles/FolderProfile1.pubxml.user
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/43257deb-b170-4c08-b492-2f2d1d1d7c38.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/61c523de-063e-4f22-b1fb-e53b821f4814.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/847c8fd7-ee2c-43a0-8b50-7d205468692a.vsidx
/Vega.SefimWebReportsV2/.vs/SefimV2/FileContentIndex/8e614509-4c90-4b45-b1ed-3e76b0036df7.vsidx
/Vega.SefimWebReportsV2/FormWebConfig/bin/Debug/Vega Master Web Config.exe
/Vega.SefimWebReportsV2/SefimV2/obj/Release/SefimV2.csproj.AssemblyReference.cache
/Vega.SefimWebReportsV2/.vs/SefimV2/v17/HierarchyCache.v1.txt
