.the-legend {
    /*border: 1px solid #73879C;*/ /*#2A3F54 Lacivert left menu rengi*/
    border-radius: 5px;
    color: #73879C;
    /*background-color: #fff;*/
    font-size: 20px;
    font-weight: normal;
    /*line-height: 20px;*/
    margin-bottom: 0;
}

.the-legend-in {
    border: 4px solid #f4bc42;
    border-radius: 5px;
    color: #fff;
    background-color: #f4bc42;
    font-size: 15px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 0;
}

.the-fieldset {
    border: 2px solid #73879C;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

a {
    cursor: pointer;
}

.the-fieldset-in {
    border: 2px solid #f4bc42;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}