<style>
    .form-control {
        overflow-y: auto;
        word-wrap: break-word;
    }

    @media only screen and (min-width : 320px) {
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        h2 {
            font-size: 95%;
        }

        .text {
            font-size: 85%;
        }

        .form-control {
            width: auto;
        }

        .altmetin {
            font-size: 15px;
            text-align: center;
        }

        .alt-tre {
            margin-top: auto;
        }

        .btn-primary {
            width: 50%;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .container {
            background-size: 100% 110%;
            background-repeat: no-repeat;
        }

        .contentX {
            background-size: 90% auto;
            background-repeat: no-repeat;
            position: center;
            margin-left: 8%;
        }

        .form-control {
            width: 350px;
        }

        .table {
            width: 75%;
        }

        .altmetin {
            font-size: 18px;
            text-align: center;
        }

        .footerX {
            width: 50%;
            position: center;
        }

        .form-control {
            width: auto;
        }

        .col-lg-12 {
            width: 100%;
            margin-left: -50px;
        }

        .alt-tre {
            margin-top: 75px;
        }

        .btn-primary {
            width: 30%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .container {
            background-repeat: no-repeat;
            background-size: 80% auto;
            background-position: center;
        }

        .contentX {
            background-size: 70% auto;
            background-position: center;
            background-repeat: no-repeat;
            position: center;
            margin-left: 1%;
        }

        .altmetin {
            font-size: 20px;
            text-align: center;
        }

        .form-control {
            width: 350px;
            vertical-align: central;
        }

        .table {
            width: 65%;
        }

        .footerX {
            width: 60%;
            position: center;
        }

        form-control {
            width: 350px;
        }

        .col-lg-12 {
            width: 70%;
            margin-left: 10px;
        }

        .alt-tre {
            margin-top: 140px;
        }

        .btn-primary {
            width: 20%;
        }
    }



    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .container {
            background-repeat: no-repeat;
            background-size: 80% auto;
            background-position: center;
        }

        .contentX {
            background-size: 70% 100%;
            background-position: center;
            background-repeat: no-repeat;
            position: center;
            /*margin-left: %;*/
        }

        .form-control {
            width: 400px;
        }

        .table {
            width: 65%;
        }

        .footerX {
            width: 50%;
            position: center;
        }

        .col-lg-12 {
            width: 80%;
            margin-left: 100px;
        }

        .alt-tre {
            margin-top: 140px;
        }

        .btn-primary {
            width: 20%;
        }
    }
</style>