
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageReports.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageReports.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<style>
    .dataTables_wrapper, #saateGoreSatislar, #gunlereGoreSatislar {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        padding: 10px
    }



    table tbody tr {
        cursor: pointer
    }

    table caption b {
        color: black
    }

    table caption button {
        float: right
    }
  
</style>
<div class="form-group">
    <div>
        <button id="btnToday" onclick="dateButtonClick(this)" class="btnToday btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Bugün</button>
        <button id="btnYesterday" onclick="dateButtonClick(this)" class="btnYesterday btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Dün</button>
        <button id="btnMonth" onclick="dateButtonClick(this)" class="btnMonth btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Bu Ay</button>
    </div>
    <div style="float:left">
        <div class="controls" style="float:left">
            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="dateGecerlilikTarihi" placeholder="Seçiniz" aria-describedby="inputSuccess2Status4">
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status4" class="sr-only">(success)</span>
            </div>
        </div>
        <div class="controls" style="float:left">
            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="dateBitisTarihi" placeholder="Seçiniz" aria-describedby="inputSuccess2Status5">
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status5" class="sr-only">(success)</span>
            </div>
        </div>
        <a class="btn btn-primary btn-sm text-white" onclick="searchFunc()"><i class="fa fa-search"></i></a>

    </div>
    <div style="clear:both"></div>
</div>

<div class="row" id="tableDiv">

</div>



<script type="text/javascript">

    var SUBEADI = "";
    var KANAL = "";
    var TEKTRH = "";


    function formatCurrency(currency) {
        var currency_symbol = "₺"
        var formattedOutput = new Intl.NumberFormat('tr-TR', {
            style: 'currency',
            currency: 'TRY',
            minimumFractionDigits: 2,
        });

        return formattedOutput.format(currency).replace(currency_symbol, '')
    }
    $(document).ready(function () {
        $("#loading").attr("style", "position: fixed;top:0");

        $("#loading").attr("class", "myloading-active");
        setTimeout(function () {
            $("#loading").attr("class", "myloading");
        }, 1500);

    });
    Date.prototype.addHours = function (hour) {
        var date = new Date(this.valueOf());
        date.setHours(date.getDate() + hour);
        return date;
    }
    function dateButtonClick(btn) {
        var theData = {
            btnID: btn.id
        }
        $.ajax({
            url: '/SatislarAnaliz/dateButtonClick',
            type: 'GET',
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                $("#dateGecerlilikTarihi").val(result.startDate)
                $("#dateBitisTarihi").val(result.endDate)
                searchFunc();
            }
        });
    }

    var index = 0;
    function isLoading() {

        index++;
        if (index == 3) {

            $("#loading").attr("class", "myloading");
            index = 0;
        }
    }

    function searchFunc() {
        $("#loading").attr("class", "myloading-active");
        var html = `
                    <div class="col-md-4">
                                        <table class="table table-hover table-sm table-striped shadow" style="width:100%" id="satisKanallarinaGore">
                                            <caption><b>Satış Kanallarına Göre</b>

                                                    </caption>
                                            <thead>
                                               <tr><th>Kanal</th><th>Sipariş Sayısı</th><th>Sepet Ortalaması</th><th>Tutar</th><th>Toplama Oranı</th></tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                         </table>
                                         <br/><br/>
                                         <table class="table table-hover table-sm table-striped shadow" style="width:100%" id="tarihlereGore">
                                            <caption><b>Tarihe Göre</b>

                                                    </caption>
                                            <thead>
                                               <tr><th>Tarih</th><th>Fiş Sayısı</th><th>Sepet Ortalaması</th><th>Tutar</th><th>Oran</th></tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                         </table>
                    </div>
                    <div class="col-md-4">
                                        <table class="table table-hover table-sm table-striped shadow" style="width:100%" id="subelereGore">
                                            <caption><b>Şubelere Göre</b>

                                                    </caption>
                                            <thead>
                                               <tr><th>Şube Adı</th><th>Sipariş Sayısı</th><th>Sepet Ortalaması</th><th>Tutar</th><th>Toplama Oranı</th></tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                         </table>
                    </div>
                    <div class="col-md-4">
                                       <div id="satisKanallarinaGorechart"></div>
                    </div>

                `;
        $("#tableDiv").html(html);


      
        searchFilterShow();
        tarihlereGore();
        subelereGore();
        satisKanallarinaGore();

    }
    function searchFilterShow() {
        $("#subelereGore caption").html("");
        $("#satisKanallarinaGore caption").html("");
        $("#tarihlereGore caption").html("");
        if (SUBEADI != "") {
            $("#subelereGore caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="SUBEADI=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);

            for (var i = 0; i < SUBEADI.split(',').length - 1; i++) {

                $("#subelereGore caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="SUBEADI='`+ SUBEADI.split(SUBEADI.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ SUBEADI.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);

            }
          
        }
        if (KANAL != "") {
            $("#satisKanallarinaGore caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="KANAL=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);

            for (var i = 0; i < KANAL.split(',').length - 1; i++) {

                $("#satisKanallarinaGore caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="KANAL='`+ KANAL.split(KANAL.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ KANAL.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);

            }

          

        }
        if (TEKTRH != "") {
            $("#tarihlereGore caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="TEKTRH=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);

            for (var i = 0; i < TEKTRH.split(',').length - 1; i++) {

                $("#tarihlereGore caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="TEKTRH='`+ TEKTRH.split(TEKTRH.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ TEKTRH.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);

            }

         

        }
    }
    function tarihlereGore() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            KANAL: KANAL,
            SUBEADI: SUBEADI,

        }
        $("#tarihlereGore tbody").html("");
        $.ajax({
            url: '/OnlineOzetSatisAnalizleri/TariheGore',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    $("#tarihlereGore tbody").append("<tr onclick=' TEKTRH = \"" + result[i]["Tarih"] + ",\"; searchFilterShow();'><td>" + result[i]["Tarih"] + "</td><td class='text-right'>" + (result[i]["Fisayisi"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["SepetOrtalmasi"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["Tutar"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["Oran"]) + "</td></tr>");
                }
                runDatatable("tarihlereGore");

            }
        });
    }
    function subelereGore() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            KANAL: KANAL,
            SUBEADI: SUBEADI,

        }
        $("#subelereGore tbody").html("");
        $.ajax({
            url: '/OnlineOzetSatisAnalizleri/SubelereGore',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    $("#subelereGore tbody").append("<tr onclick=' SUBEADI += \"" + result[i]["SUBEADI"] + ",\"; searchFilterShow();'><td>" + result[i]["SUBEADI"] + "</td><td class='text-right'>" + (result[i]["Fisayisi"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["SepetOrtalmasi"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["Tutar"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["Oran"]) + "</td></tr>");
                }
                runDatatable("subelereGore");

            }
        });
    }
    function satisKanallarinaGore() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            KANAL: KANAL,
            SUBEADI: SUBEADI,

        }
        $("#satisKanallarinaGore tbody").html("");
        $.ajax({
            url: '/OnlineOzetSatisAnalizleri/SatisKanallarinaGore',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                var options = {
                    series: [],
                    chart: {
                        width: 500,
                        type: 'pie',
                    },
                    title: {
                        text: "Satış Kanallarına Göre"
                    },
                    labels: [],
                    dataLabels: {
                        formatter(val, opts) {
                            const name = opts.w.globals.labels[opts.seriesIndex]
                            const seri = formatCurrency(opts.w.globals.series[opts.seriesIndex])
                            return [name, val.toFixed(2) + '%']
                        }
                    },
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                };
                for (var i = 0; i < result.length; i++) {
                    $("#satisKanallarinaGore tbody").append("<tr onclick=' KANAL += \"" + result[i]["Kanal"] + ",\"; searchFilterShow();'><td>" + result[i]["Kanal"] + "</td><td class='text-right'>" + (result[i]["Fisayisi"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["SepetOrtalmasi"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["Tutar"]) + "</td><td class='text-right'>" + " " + formatCurrency(result[i]["Oran"]) + "</td></tr>");
                    options.series.push(parseFloat(result[i]["Oran"]));
                    options.labels.push(result[i]["Kanal"]);
                }
                runDatatable("satisKanallarinaGore");

                var chart = new ApexCharts(document.querySelector("#satisKanallarinaGorechart"), options);
                chart.render();
            }
        });
    }



</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>