
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageReports.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageReports.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<style>
    .dataTables_wrapper, #saateGoreSatislar, #gunlereGoreSatislar {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        padding: 10px
    }

    table tbody tr td:nth-child(2), table tbody tr td:nth-child(3), table tbody tr td:nth-child(4) {
        text-align: right
    }

    table tbody tr {
        cursor: pointer
    }

    table caption b {
        color: black
    }

    table caption button {
        float: right
    }

    .progress {
        margin: 0
    }

    .progress-bar {
        background-color: green;
        opacity: 0.3
    }

    .progress span {
        float: right;
        margin-right: 3px
    }
    .tab-content th {
        text-align: center
    }

    th, td {
        min-width: 100px
    }
</style>

<div class="form-group">
    <div>
        <button id="btnToday" onclick="dateButtonClick(this)" class="btnToday btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Bugün</button>
        <button id="btnYesterday" onclick="dateButtonClick(this)" class="btnYesterday btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Dün</button>
        <button id="btnMonth" onclick="dateButtonClick(this)" class="btnMonth btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Bu Ay</button>
    </div>
    <div style="float:left">
        <div class="controls" style="float:left">
            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="dateGecerlilikTarihi" placeholder="Seçiniz" aria-describedby="inputSuccess2Status4">
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status4" class="sr-only">(success)</span>
            </div>
        </div>
        <div class="controls" style="float:left">
            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="dateBitisTarihi" placeholder="Seçiniz" aria-describedby="inputSuccess2Status5">
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status5" class="sr-only">(success)</span>
            </div>
        </div>
        <a class="btn btn-primary btn-sm text-white" onclick="searchFunc()"><i class="fa fa-search"></i></a>

    </div>
    <div style="clear:both"></div>
</div>

<div class="row" id="tableDiv">

</div>




<script type="text/javascript">

    var KOD1 = "";
    var KOD2 = "";
    var URUNADI = "";
    var TEKTRH = "";
    var minDate = undefined;
    var maxDate = undefined;

    function formatCurrency(currency) {
        var currency_symbol = "₺"
        var formattedOutput = new Intl.NumberFormat('tr-TR', {
            style: 'currency',
            currency: 'TRY',
            minimumFractionDigits: 2,
        });

        return formattedOutput.format(currency).replace(currency_symbol, '')
    }
    $(document).ready(function () {
        $("#loading").attr("style", "position: fixed;top:0");

        $("#loading").attr("class", "myloading-active");
        setTimeout(function () {
            $("#loading").attr("class", "myloading");
        }, 1500);

    });

    function dateButtonClick(btn) {
        var theData = {
            btnID: btn.id
        }
        $.ajax({
            url: '/SatislarAnaliz/dateButtonClick',
            type: 'GET',
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                $("#dateGecerlilikTarihi").val(result.startDate)
                $("#dateBitisTarihi").val(result.endDate)
                searchFunc();
            }
        });
    }

    var index = 0;
    function isLoading() {

        index++;
        if (index == 4) {
            $("#loading").attr("class", "myloading");
            index = 0;
        }
    }

    function searchFunc() {
        $("#loading").attr("class", "myloading-active");
        var html = `
                    <div class="col-md-12">
                        <table class="table table-hover table-sm table-striped shadow" id="ozetBilgi">
                            <caption><b>Özet Bilgi</b>

                                    </caption>
                            <thead>
                                <tr>
                                    <th>Tarih</th>
                                    <th>Ürün Sayısı</th>
                                    <th>Ürün Miktar</th>
                                    <th>Ürün Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <br/><br/>
                        <div id="exTab2" class="container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">Saatlere Göre Satışlar (Tutar)</a>
                                </li>
                                <li>
                                    <a href="#2" data-toggle="tab">Saatlere Göre Satışlar (Miktar)</a>
                                </li>
                               
                            </ul>

                            <div class="tab-content ">
                                <div class="tab-pane active" id="1" style="overflow:auto">

                                     <table class="table table-bordered" id="saatlereGoreSatisTutari">
                                          <thead>
                                              <tr>
                                                 <th>Şube</th>
                                              </tr>
                                          </thead>
                                          <tbody >

                                          </tbody>
                                      </table>
                                </div>
                                <div class="tab-pane" id="2" style="overflow:auto">
                                    <table class="table table-bordered" id="saatlereGoreSatisMiktari">
                                          <thead>
                                              <tr>
                                                 <th>Şube</th>
                                              </tr>
                                          </thead>
                                          <tbody >

                                          </tbody>
                                      </table>
                                </div>
                               
                            </div>
                        </div>
                    
                        <div id="chart-bar"></div>
                        <br/><br/>

                    </div>
                `;
        $("#tableDiv").html(html);
        if (TEKTRH != "") {
            $("#ozetBilgi caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="TEKTRH=''; searchFunc();">
                         `+ TEKTRH + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);
        }
        timeChart();
      
    }
    function generateDayWiseTimeSeries(baseval, count, yrange) {
        var i = 0;
        var series = [];
        while (i < count) {
            var x = baseval;
            var y =
                Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

            series.push([x, y]);
            if (i + 2 == count) {
                baseval += 3599999;
            } else {
                baseval += 3600000;
            }
            i++;
        }
        return series;
    }


    function timeChart() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SaatlereGoreSatislarRaporu/SaatlereGoreSatisTutari',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                ozetBilgi();
                saatlereGoreSatisTutari();
                saatlereGoreSatisMiktari();
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var saatlereGoreSatisTutariArray = JSON.parse(data);
               

                var data = generateDayWiseTimeSeries(new Date("01 Jul 2017 03:00:00").getTime(), 25, {
                    min: 0,
                    max: 0
                });
                for (var i = 0; i < 25; i++) {
                   
                    data[i][1]  = enBuyukDegerFunc(saatlereGoreSatisTutariArray, i, "Tutar"); 
                }
                var options2 = {
                    chart: {
                        id: "chart1",
                        height: 200,
                        type: "area",
                        foreColor: "#ccc",
                        brush: {
                            enabled: true
                        },
                        toolbar: {
                            show: true,
                            tools: {
                                download: false,
                                customIcons: [
                                    {
                                        icon: '<i class="fa-solid fa-bolt-lightning"></i>',
                                        index: 0,
                                        title: 'Çalıştır',
                                        class: 'custom-icon',
                                        click: function (chart, options, e) {

                                            searchFunc();
                                        }
                                    }, {
                                        icon: '<i class="fa-solid fa-trash"></i>',
                                        index: 0,
                                        title: 'Temizle',
                                        class: 'custom-icon',
                                        click: function (chart, options, e) {
                                            minDate = undefined;
                                            maxDate = undefined;
                                            searchFunc();
                                        }
                                    }
                                ]
                            }
                        },
                        events: {
                            selection: (e, o) => {

                                if (o.yaxis != null) {
                                    minDate = new Date(o.xaxis.min);
                                    maxDate = new Date(o.xaxis.max);
                                }


                            }
                        },
                        selection: {
                            enabled: true,
                            fill: {
                                color: "#fff",
                                opacity: 0.4
                            },
                            xaxis: {
                                min: new Date(minDate).getTime(),
                                max: new Date(maxDate).getTime()
                            }
                        },
                    },
                    colors: ["#00BAEC"],
                    series: [
                        {
                            data: data
                        }
                    ],
                    stroke: {
                        width: 1,
                        curve: 'smooth',
                    },
                    grid: {
                        borderColor: "#444",
                        yaxis: {
                            lines: {
                                show: false
                            }
                        }
                    },
                    markers: {
                        size: 0
                    },
                    xaxis: {
                        type: "datetime",
                        labels: {
                            show: true,
                        },
                        tooltip: {
                            enabled: false,
                        },
                        axisTicks: {
                            show: false
                        }
                    },
                    yaxis: {
                        show: false,
                        tickAmount: 2
                    },
                    title: {
                        text: '',
                        align: 'left'
                    },
                };
                if (minDate != undefined && minDate != "Invalid Date" && maxDate != undefined && maxDate != "Invalid Date") {
                    options2.title.text = new Date(minDate).addHours(-3).toLocaleTimeString() + " - " + new Date(maxDate).addHours(-3).toLocaleTimeString();

                }
                var chart2 = new ApexCharts(document.querySelector("#chart-bar"), options2);

                chart2.render();
            }
        });
    }
    Date.prototype.addHours = function (hour) {
        var date = new Date(this.valueOf());
        date.setHours(date.getDate() + hour);
        return date;
    }

    function enBuyukDegerFunc(array, saat, kolon) {
        array = array.filter(x => x.Saat == saat);
        if (array.length == 0) {

            return 0;
        } else {
            var enBuyuk = 0;
            for (var i = 0; i < array.length; i++) {
                if (parseFloat(array[i][kolon]) > enBuyuk) {
                    enBuyuk = parseFloat(array[i][kolon]);
                }
            }

            return enBuyuk;

        }
    }

    function saatlereGoreSatisTutari() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            MinDate: minDate == "Invalid Date" ? minDate : new Date(minDate).toISOString(),
            MaxDate: maxDate == "Invalid Date" ? maxDate : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SaatlereGoreSatislarRaporu/SaatlereGoreSatisTutari',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var saatlereGoreSatisTutariArray = JSON.parse(data);
                var subeler = []
                for (var i = 0; i < 24; i++) {
                    $("#saatlereGoreSatisTutari thead tr").append("<th>" + (i < 10 ? "0" + i + ":00" : i + ":00") + "</th>");
                }

                for (var i = 0; i < saatlereGoreSatisTutariArray.length; i++) {
                    if (subeler.find(x => x == saatlereGoreSatisTutariArray[i].SUBEADI) == undefined) {
                        subeler.push(saatlereGoreSatisTutariArray[i].SUBEADI);
                    }
                }
                for (var i = 0; i < subeler.length; i++) {
                    $("#saatlereGoreSatisTutari tbody").append("<tr><td>" + subeler[i] + "</td></tr>");
                    var temp = "";
                    for (var j = 0; j < 24; j++) {
                        var enBuyukDeger = enBuyukDegerFunc(saatlereGoreSatisTutariArray, j, "Tutar");
                        var tutar = 0;
                        var obj = saatlereGoreSatisTutariArray.find(x => x.SUBEADI == subeler[i] && x.Saat == j);
                        if (obj != undefined) {
                            tutar = obj.Tutar;
                        }
                        var yuzde = (tutar / enBuyukDeger) * 100;
                        temp += `
                                   <td>
                                        <div class="progress text-center" >
                                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="0" style="width: ${yuzde}%;">
                                            </div>
                                            <span>₺ ${formatCurrency(tutar)}</span>
                                        </div>
                                    </td>`
                    }
                    $("#saatlereGoreSatisTutari tbody tr:nth-child(" + (i + 1) + ")").append(temp);
                }


            }
        });





    }
    function saatlereGoreSatisMiktari() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            MinDate: minDate == "Invalid Date" ? minDate : new Date(minDate).toISOString(),
            MaxDate: maxDate == "Invalid Date" ? maxDate : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SaatlereGoreSatislarRaporu/SaatlereGoreSatisMiktari',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var saatlereGoreSatisMiktariArray = JSON.parse(data);
                var subeler = []
                for (var i = 0; i < 24; i++) {
                    $("#saatlereGoreSatisMiktari thead tr").append("<th>" + (i < 10 ? "0" + i + ":00" : i + ":00") + "</th>");
                }

                for (var i = 0; i < saatlereGoreSatisMiktariArray.length; i++) {
                    if (subeler.find(x => x == saatlereGoreSatisMiktariArray[i].SUBEADI) == undefined) {
                        subeler.push(saatlereGoreSatisMiktariArray[i].SUBEADI);
                    }
                }
                for (var i = 0; i < subeler.length; i++) {
                    $("#saatlereGoreSatisMiktari tbody").append("<tr><td>" + subeler[i] + "</td></tr>");
                    var temp = "";
                    for (var j = 0; j < 24; j++) {
                        var enBuyukDeger = enBuyukDegerFunc(saatlereGoreSatisMiktariArray, j, "Miktar");
                        var miktar = 0;
                        var obj = saatlereGoreSatisMiktariArray.find(x => x.SUBEADI == subeler[i] && x.Saat == j);
                        if (obj != undefined) {
                            miktar = obj.Miktar;
                        }
                        var yuzde = (miktar / enBuyukDeger) * 100;
                        temp += `
                                   <td>
                                        <div class="progress text-center" >
                                            <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="0" style="width: ${yuzde}%;">
                                            </div>
                                            <span> ${formatCurrency(miktar)}</span>
                                        </div>
                                    </td>`
                    }
                    $("#saatlereGoreSatisMiktari tbody tr:nth-child(" + (i + 1) + ")").append(temp);
                }


            }
        });





    }
    var ozetBilgiArray;
    function ozetBilgi() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            TEKTRH: TEKTRH,
            MinDate: minDate == "Invalid Date" ? minDate : new Date(minDate).toISOString(),
            MaxDate: maxDate == "Invalid Date" ? maxDate : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SaatlereGoreSatislarRaporu/OzetBilgi',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                ozetBilgiArray = JSON.parse(data);
                for (var i = 0; i < ozetBilgiArray.length; i++) {
                    $("#ozetBilgi tbody").append("<tr onclick='TEKTRH = \"" + ozetBilgiArray[i]["Tarih"] + "\";  searchFunc();'><td>" + ozetBilgiArray[i]["Tarih"] + "</td><td>" + ozetBilgiArray[i]["Ürün Sayisi"] + "</td><td>" + formatCurrency(ozetBilgiArray[i]["Miktar"]) + "</td><td>" + "₺ " + formatCurrency(ozetBilgiArray[i]["Tutar"]) + "</td></tr>");
                }
                runDatatable("ozetBilgi");
            }
        });
    }



</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>