
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageReports.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
<style>
    .dataTables_wrapper, #saateGoreSatislar, #gunlereGoreSatislar {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);
        padding: 10px
    }

    table tbody tr td:nth-child(2), table tbody tr td:nth-child(3), table tbody tr td:nth-child(4) {
        text-align: right
    }

    table tbody tr {
        cursor: pointer
    }

    table caption b {
        color: black
    }

    table caption button {
        float: right
    }
</style>

<div class="form-group">
    <div>
        <button id="btnToday" onclick="dateButtonClick(this)" class="btnToday btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Bugün</button>
        <button id="btnYesterday" onclick="dateButtonClick(this)" class="btnYesterday btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Dün</button>
        <button id="btnMonth" onclick="dateButtonClick(this)" class="btnMonth btn btn-primary pull-left" type="button"><i class="glyphicon"></i>Bu Ay</button>
    </div>
    <div style="float:left">
        <div class="controls" style="float:left">
            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="dateGecerlilikTarihi" placeholder="Seçiniz" aria-describedby="inputSuccess2Status4">
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status4" class="sr-only">(success)</span>
            </div>
        </div>
        <div class="controls" style="float:left">
            <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="dateBitisTarihi" placeholder="Seçiniz" aria-describedby="inputSuccess2Status5">
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status5" class="sr-only">(success)</span>
            </div>
        </div>
        <a class="btn btn-primary btn-sm text-white" onclick="searchFunc()"><i class="fa fa-search"></i></a>

    </div>
    <div style="clear:both"></div>
</div>

<div class="row" id="tableDiv">

</div>


<script type="text/javascript">

    var KOD1 = "";
    var ProductGroup = "";
    var URUNADI = "";
    var SUBEADI = "";
    var minDate = undefined;
    var maxDate = undefined;

    function formatCurrency(currency) {
        var currency_symbol = "₺"
        var formattedOutput = new Intl.NumberFormat('tr-TR', {
            style: 'currency',
            currency: 'TRY',
            minimumFractionDigits: 2,
        });

        return formattedOutput.format(currency).replace(currency_symbol, '')
    }
    $(document).ready(function () {
        $("#loading").attr("style", "position: fixed;top:0");
        $("#loading").attr("class", "myloading-active");
        setTimeout(function () {
            $("#loading").attr("class", "myloading");
        }, 1500);


    });
    Date.prototype.addHours = function (hour) {
        var date = new Date(this.valueOf());
        date.setHours(date.getDate() + hour);
        return date;
    }
    function dateButtonClick(btn) {
        var theData = {
            btnID: btn.id
        }
        $.ajax({
            url: '/SatislarAnaliz/dateButtonClick',
            type: 'GET',
            dataType: 'text',
            data: theData,
            success: function (data) {
                var result = JSON.parse(data);
                $("#dateGecerlilikTarihi").val(result.startDate)
                $("#dateBitisTarihi").val(result.endDate)
                searchFunc();
            }
        });
    }

    var index = 0;
    function isLoading() {

        index++;
        if (index == 8) {
            $("#loading").attr("class", "myloading");
            index = 0;
        }
    }

    function searchFunc() {
        $("#loading").attr("class", "myloading-active");
        var html = `
                    <div class="col-md-6">
                        <table class="table table-hover table-sm table-striped shadow" id="ozetBilgi">
                            <caption><b>Özet Bilgi</b>

                                    </caption>
                            <thead>
                                <tr>
                                    <th>Ürün Sayısı</th>
                                    <th>Ürün Miktar</th>
                                    <th>Ürün Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br/><br/>
                        <table class="table table-hover table-sm table-striped" id="gruplaraGoreSatislar">
                            <caption><b>Gruplara Göre Satışlar</b></caption>
                            <thead>
                                <tr>
                                    <th>Grup Adı</th>
                                    <th>Miktar</th>
                                    <th>Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br/><br/>
                        <table class="table table-hover table-sm table-striped" id="urunlereGoreSatislar">
                            <caption><b>Ürünlere Göre Satışlar</b></caption>
                            <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Miktar</th>
                                    <th>Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-hover table-sm table-striped" id="donerCesitlerineGoreSatislar">
                            <caption><b>Döner Çeşitlerine Satışlar</b></caption>
                            <thead>
                                <tr>
                                    <th>Çeşit</th>
                                    <th>Miktar</th>
                                    <th>Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br/><br/>
                        <table class="table table-hover table-sm table-striped" id="subelereGoreSatislar">
                            <caption><b>Şubelere Göre Satışlar</b></caption>
                            <thead>
                                <tr>
                                    <th>Şube Adı</th>
                                    <th>Miktar</th>
                                    <th>Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br/><br/>
                        <div id="saateGoreSatislar"></div>
                        <br/><br/>
                        <div id="gunlereGoreSatislar"></div>
                        <br/><br/>

                    </div>
                    <div class="col-md-12"><div id="chart-bar"></div></div>
                `;
        $("#tableDiv").html(html);
        searchFilterShow();

        timeChart();


    }
    function searchFilterShow() {
        $("#urunlereGoreSatislar caption").html("");
        $("#gruplaraGoreSatislar caption").html("");
        $("#subelereGoreSatislar caption").html("");
        $("#donerCesitlerineGoreSatislar caption").html("");
        if (KOD1 != "") {
            $("#donerCesitlerineGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="KOD1=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);
            for (var i = 0; i < KOD1.split(',').length - 1; i++) {
                $("#donerCesitlerineGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="KOD1='`+ KOD1.split(KOD1.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ KOD1.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);
            }

        }
        if (URUNADI != "") {
            $("#urunlereGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="URUNADI=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);
            for (var i = 0; i < URUNADI.split(',').length - 1; i++) {
                $("#urunlereGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="URUNADI='`+ URUNADI.split(URUNADI.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ URUNADI.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);
            }

        }

        if (ProductGroup != "") {
            $("#gruplaraGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="ProductGroup=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);
            for (var i = 0; i < ProductGroup.split(',').length - 1; i++) {
                $("#gruplaraGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="ProductGroup='`+ ProductGroup.split(ProductGroup.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ ProductGroup.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);
            }
        }
        if (SUBEADI != "") {
            $("#subelereGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="SUBEADI=''; searchFilterShow();">
                         Temizle <span class="badge badge-danger">x</span>
                         </button>
                 `);
            for (var i = 0; i < SUBEADI.split(',').length - 1; i++) {
                $("#subelereGoreSatislar caption").append(`
                        <button type="button" class="btn btn-danger btn-sm" onclick="SUBEADI='`+ SUBEADI.split(SUBEADI.split(',')[i] + ",").join("") + `'; searchFilterShow();">
                         `+ SUBEADI.split(',')[i] + ` <span class="badge badge-danger">x</span>
                         </button>
                 `);
            }
        }
    }
    function generateDayWiseTimeSeries(baseval, count, yrange) {
        var i = 0;
        var series = [];
        while (i < count) {
            var x = baseval;
            var y =
                Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

            series.push([x, y]);
            if (i + 2 == count) {
                baseval += 3599999;
            } else {
                baseval += 3600000;
            }

            i++;
        }
        return series;
    }
    function enBuyukDegerFunc(array, saat, kolon) {
        array = array.filter(x => x.Saat == saat);
        if (array.length == 0) {

            return 0;
        } else {
            var enBuyuk = 0;
            for (var i = 0; i < array.length; i++) {
                if (parseFloat(array[i][kolon]) > enBuyuk) {
                    enBuyuk = parseFloat(array[i][kolon]);
                }
            }

            return enBuyuk;

        }
    }


    function timeChart() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SatislarAnaliz/SaateGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                ozetBilgi();
                gruplaraGoreSatislar();
                urunlereGoreSatislar();
                donerCesitlerineGoreSatislar();
                subelereGoreSatislar();
                saateGoreSatislar();
                gunlereGoreSatislar();
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var saateGoreSatislarArray = JSON.parse(data);

                var data = generateDayWiseTimeSeries(new Date("01 Jul 2017 03:00:00").getTime(), 25, {
                    min: 30,
                    max: 90
                });
                for (var i = 0; i < 25; i++) {

                    data[i][1] = enBuyukDegerFunc(saateGoreSatislarArray, i, "Tutar");
                }
                var options2 = {
                    chart: {
                        id: "chart1",
                        height: 200,
                        type: "area",
                        foreColor: "#ccc",
                        brush: {
                            enabled: true
                        },
                        toolbar: {
                            show: true,
                            tools: {
                                download: false,
                                customIcons: [
                                    {
                                        icon: '<i class="fa-solid fa-bolt-lightning"></i>',
                                        index: 0,
                                        title: 'Çalıştır',
                                        class: 'custom-icon',
                                        click: function (chart, options, e) {

                                            searchFunc();
                                        }
                                    }, {
                                        icon: '<i class="fa-solid fa-trash"></i>',
                                        index: 0,
                                        title: 'Temizle',
                                        class: 'custom-icon',
                                        click: function (chart, options, e) {
                                            minDate = undefined;
                                            maxDate = undefined;
                                            searchFunc();
                                        }
                                    }
                                ]
                            }
                        },
                        events: {
                            selection: (e, o) => {

                                if (o.yaxis != null) {
                                    minDate = new Date(o.xaxis.min);
                                    maxDate = new Date(o.xaxis.max);
                                }


                            }
                        },
                        selection: {
                            enabled: true,
                            fill: {
                                color: "#fff",
                                opacity: 0.4
                            },
                            xaxis: {
                                min: new Date(minDate).getTime(),
                                max: new Date(maxDate).getTime()
                            }
                        },
                    },
                    colors: ["#00BAEC"],
                    series: [
                        {
                            data: data
                        }
                    ],
                    stroke: {
                        width: 1,
                        curve: 'smooth',
                    },
                    grid: {
                        borderColor: "#444",
                        yaxis: {
                            lines: {
                                show: false
                            }
                        }
                    },
                    markers: {
                        size: 0
                    },
                    xaxis: {
                        type: "datetime",
                        labels: {
                            show: true,
                        },
                        tooltip: {
                            enabled: false,
                        },
                        axisTicks: {
                            show: false
                        }
                    },
                    yaxis: {
                        show: false,
                        tickAmount: 2
                    },
                    title: {
                        text: '',
                        align: 'left'
                    },
                };
                if (minDate != undefined && minDate != "Invalid Date" && maxDate != undefined && maxDate != "Invalid Date") {
                    options2.title.text = new Date(minDate).addHours(-3).toLocaleTimeString() + " - " + new Date(maxDate).addHours(-3).toLocaleTimeString();

                }
                var chart2 = new ApexCharts(document.querySelector("#chart-bar"), options2);

                chart2.render();
            }
        });
    }


    function gunlereGoreSatislar() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SatislarAnaliz/GunlereGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {

                isLoading();
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var gunlereGoreSatislarArray = JSON.parse(data);


                var options = {
                    series: [{
                        name: 'Miktar',
                        data: []
                    }, {
                        name: 'Tutar',
                        data: []
                    }],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: [],
                    },
                    yaxis: {
                    },
                    title: {
                        text: 'Günlere Göre Satışlar',
                        align: 'left'
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "₺ " + formatCurrency(val)
                            }
                        }
                    }
                };

                for (var i = 0; i < gunlereGoreSatislarArray.length; i++) {
                    if (options.xaxis.categories.find(x => x == gunlereGoreSatislarArray[i]["Tarih"]) == undefined) {
                        options.xaxis.categories.push(gunlereGoreSatislarArray[i]["Tarih"]);

                        options.series[0].data.push(gunlereGoreSatislarArray[i]["Miktar"]);
                        options.series[1].data.push(gunlereGoreSatislarArray[i]["Tutar"]);
                    }


                }

                var chart = new ApexCharts(document.querySelector("#gunlereGoreSatislar"), options);
                chart.render();
            }
        });





    }

    function saateGoreSatislar() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $.ajax({
            url: '/SatislarAnaliz/SaateGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                var saateGoreSatislarArray = JSON.parse(data);


                var options = {
                    series: [{
                        name: 'Miktar',
                        data: []
                    }, {
                        name: 'Tutar',
                        data: []
                    }],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: [],
                    },
                    yaxis: {
                    },
                    fill: {
                        opacity: 1
                    },
                    title: {
                        text: 'Saatlere Göre Satışlar',
                        align: 'left'
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "₺ " + formatCurrency(val)
                            }
                        }
                    }
                };

                for (var i = 0; i < saateGoreSatislarArray.length; i++) {
                    if (options.xaxis.categories.find(x => x == saateGoreSatislarArray[i]["Saat"]) == undefined) {
                        options.xaxis.categories.push(saateGoreSatislarArray[i]["Saat"]);

                        options.series[0].data.push(saateGoreSatislarArray[i]["Miktar"]);
                        options.series[1].data.push(saateGoreSatislarArray[i]["Tutar"]);
                    }


                }

                var chart = new ApexCharts(document.querySelector("#saateGoreSatislar"), options);
                chart.render();
            }
        });





    }

    var subelereGoreSatislarArray;
    function subelereGoreSatislar() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $("#subelereGoreSatislar tbody").html("");
        $.ajax({
            url: '/SatislarAnaliz/SubelereGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                subelereGoreSatislarArray = JSON.parse(data);
                for (var i = 0; i < subelereGoreSatislarArray.length; i++) {
                    $("#subelereGoreSatislar tbody").append("<tr onclick='SUBEADI += \"" + subelereGoreSatislarArray[i]["SUBEADI"] + ",\";  searchFilterShow();'><td>" + subelereGoreSatislarArray[i]["SUBEADI"] + "</td><td>" + formatCurrency(subelereGoreSatislarArray[i]["Miktar"]) + "</td><td>" + "₺ " + formatCurrency(subelereGoreSatislarArray[i]["Tutar"]) + "</td></tr>");
                }
                runDatatable("subelereGoreSatislar");

            }
        });
    }


    var donerCesitlerineGoreSatislarArray;
    function donerCesitlerineGoreSatislar() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $("#donerCesitlerineGoreSatislar tbody").html("");
        $.ajax({
            url: '/SatislarAnaliz/DonerCesitlerineGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                donerCesitlerineGoreSatislarArray = JSON.parse(data);
                for (var i = 0; i < donerCesitlerineGoreSatislarArray.length; i++) {
                    $("#donerCesitlerineGoreSatislar tbody").append("<tr onclick=' KOD1 += \"" + donerCesitlerineGoreSatislarArray[i]["KOD1"] + ",\"; searchFilterShow();'><td>" + donerCesitlerineGoreSatislarArray[i]["KOD1"] + "</td><td>" + formatCurrency(donerCesitlerineGoreSatislarArray[i]["Miktar"]) + "</td><td>" + "₺ " + formatCurrency(donerCesitlerineGoreSatislarArray[i]["Tutar"]) + "</td></tr>");
                }
                runDatatable("donerCesitlerineGoreSatislar");

            }
        });
    }

    var urunlereGoreSatislarArray;
    function urunlereGoreSatislar() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $("#urunlereGoreSatislar tbody").html("");
        $.ajax({
            url: '/SatislarAnaliz/UrunlereGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                urunlereGoreSatislarArray = JSON.parse(data);
                for (var i = 0; i < urunlereGoreSatislarArray.length; i++) {
                    $("#urunlereGoreSatislar tbody").append("<tr onclick='URUNADI += \"" + urunlereGoreSatislarArray[i]["ProductName"] + ",\"; searchFilterShow();'><td>" + urunlereGoreSatislarArray[i]["ProductName"] + "</td><td>" + formatCurrency(urunlereGoreSatislarArray[i]["Miktar"]) + "</td><td>" + "₺ " + formatCurrency(urunlereGoreSatislarArray[i]["Tutar"]) + "</td></tr>");
                }
                runDatatable("urunlereGoreSatislar");

            }
        });
    }


    var gruplaraGoreSatislarArray;
    function gruplaraGoreSatislar() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $("#gruplaraGoreSatislar tbody").html("");
        $.ajax({
            url: '/SatislarAnaliz/GruplaraGoreSatislar',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                gruplaraGoreSatislarArray = JSON.parse(data);
                for (var i = 0; i < gruplaraGoreSatislarArray.length; i++) {
                    $("#gruplaraGoreSatislar tbody").append("<tr onclick=' ProductGroup += \"" + gruplaraGoreSatislarArray[i]["ProductGroup"] + ",\";searchFilterShow();'><td>" + gruplaraGoreSatislarArray[i]["ProductGroup"] + "</td><td>" + formatCurrency(gruplaraGoreSatislarArray[i]["Miktar"]) + "</td><td>" + "₺ " + formatCurrency(gruplaraGoreSatislarArray[i]["Tutar"]) + "</td></tr>");
                }
                runDatatable("gruplaraGoreSatislar");
            }
        });
    }



    var ozetBilgiArray;
    function ozetBilgi() {
        var theData = {
            StartDate: $("#dateGecerlilikTarihi").val(),
            EndDate: $("#dateBitisTarihi").val(),
            KOD1: KOD1,
            ProductGroup: ProductGroup,
            URUNADI: URUNADI,
            SUBEADI: SUBEADI,
            MinDate: (minDate == "Invalid Date" || minDate == undefined) ? "Invalid Date" : new Date(minDate).toISOString(),
            MaxDate: (maxDate == "Invalid Date" || maxDate == undefined) ? "Invalid Date" : new Date(maxDate).toISOString(),
        }
        $("#ozetBilgi tbody").html("");
        $.ajax({
            url: '/SatislarAnaliz/OzetBilgi',
            type: 'GET',
            beforeSend: function (request) {

            },
            complete: function (data) {
                isLoading()
            },
            dataType: 'text',
            data: theData,
            success: function (data) {
                ozetBilgiArray = JSON.parse(data);
                for (var i = 0; i < ozetBilgiArray.length; i++) {
                    $("#ozetBilgi tbody").append("<tr><td>" + ozetBilgiArray[i]["Ürün Sayisi"] + "</td><td>" + formatCurrency(ozetBilgiArray[i]["Miktar"]) + "</td><td>" + "₺ " + formatCurrency(ozetBilgiArray[i]["Tutar"]) + "</td></tr>");
                }
                runDatatable("ozetBilgi");
            }
        });
    }



</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>